@{
    ViewBag.Title = "Домашня сторінка";
}


@section styles{
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="@Url.Content("~/Content/HomePage.css")">
}
<div id="home">

    <div class="bg-image bg-parallax overlay"></div>

    <div class="home-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="text-white">English Learning безкоштовний онлайн засіб для вивчення англійської мови</h1>
                    <p class="lead text-white d-none d-sm-block">Купа лекцій, тестів, різноманітних вправ, відео, завдань, спеціально підібраних за рівнем складності. Більше ніж 100 тисяч слів, а також можливість тренування через чат, в якому існують виділені для обговорення теми. Допомога в самовивченні через встановлення рівня знань власноруч, а також нагадувань до ваших подій.</p>
                    <a class="main-button icon-button bg-purple" href="@Url.Action("Register","Account", new { area=""})">Розпочати!</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div data-vc-parallax="1.5" class="vc_row wpb_row vc_row-fluid vc_row-has-fill vc_general vc_parallax vc_parallax-content-moving">
    <div class="container">
        <div class="row">
            <div class="wpb_column vc_column_container col-sm-12">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <h3 class="bright-section-title bright-section-title-default text-center margin-top-no_margin margin-bottom-large title-font-size-default">
                            При вивченні англійської мови використовуйте:
                        </h3>
                        <div class="vc_newrow wpb_row vc_inner vc_row-fluid d-flex flex-row flex-wrap">
                            <div class="wpb_column vc_column_container col-12 col-md-4">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="activity-item activity-item-blue">
                                            <div class="icon">
                                                <i class="fa fa-bolt"></i>
                                            </div>
                                            <h3>Короткі лекції</h3>
                                            <p>На нащому сайті ви знайдете багато коротких лекцій. Короткі лекції краще засвоюються, швидко опанувавши певну тему ви зможете зробити перерву.</p>
                                            <a class="btn btn-rm btn-common" href="@Url.Action("ShowByGroup", "Lection", new { area = "" })">Розпочати</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container col-12 col-md-4">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="activity-item activity-item-primary active-item">
                                            <div class="icon">
                                                <i class="fa fa-graduation-cap"></i>
                                            </div>
                                            <h3>Різні типи тестів</h3>
                                            <p>Величезна кількість тестів для різних рівнів знань, а також тести з текстами та до озвучених історій, для розширення кола перевірки різних навичок.</p>
                                            <a class="btn btn-rm btn-common" href="@Url.Action("Index", "Test", new { area = "" })">Розпочати</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container col-12 col-md-4">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="activity-item activity-item-red">
                                            <div class="icon">
                                                <i class="fa fa-flask"></i>
                                            </div>
                                            <h3>Завдання та профіль</h3>
                                            <p>Вивчайте мову як вам подобається, для цього ви можете створювати власні завдання або готуватися до певних подій. Встановлюйте власний рівень.</p>
                                            <a class="btn btn-rm btn-common" href="@Url.Action("Index", "Profile", new { area = "" })">Розпочати</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="wpb_column vc_column_container col-12 col-md-4">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="activity-item activity-item-red">
                                            <div class="icon">
                                                <i class="fas fa-journal-whills bg-dark"></i>
                                            </div>
                                            <h3>Словники</h3>
                                            <p>Виберіть тему яка вам подобається та вивчіть словник до неї. Теми постійно оновлюються та додаються нові. Кількість слів перевищує 100 тисяч.</p>
                                            <a class="btn btn-rm btn-common" href="@Url.Action("Index", "Dictionary", new { area = "" })">Розпочати</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container col-12 col-md-4">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="activity-item activity-item-primary active-item">
                                            <div class="icon">
                                                <i class="fas fa-brain bg-danger"></i>
                                            </div>
                                            <h3>Вправи</h3>
                                            <p>З допомогою вправ можна вивчити додані слова, а також окремо винесено вправи з реченнями (для тренування граматики та написання) та текстами.</p>
                                            <a class="btn btn-rm btn-common" href="@Url.Action("Index", "Exercise", new { area = "" })">Розпочати</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container col-12 col-md-4">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="activity-item activity-item-red">
                                            <div class="icon">
                                                <i class="fas fa-comment"></i>
                                            </div>
                                            <h3>Чат</h3>
                                            <p>Спілкуйтеся та розвивайте володіння англійською мовою з допомогою дискусій з іншими користувачами. Кожен день тема дискусії змінюється.</p>
                                            <a class="btn btn-rm btn-common" href="http://91.195.249.139:8000">Розпочати</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h4 class="col-12 text-center font-italic text-monospace">А також багато іншого...</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="xt-row-overlay" style="background-color:rgba(255,255,255,0.01)"></div>
</div>