@model EnglishLearning.Models.ELTask


@*@using (Html.BeginForm())
    {*@
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
@using (Html.BeginForm("EditTask", "Profile", new { controller="Profile", area="", enctype = "multipart/form-data" }, FormMethod.Post, new { id="EditForm", enctype = "multipart/form-data", target = "dummyframe" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.TaskId)

    <div class="d-flex flex-column align-items-center">
        <div class="form-group col-12 d-flex flex-column align-items-center">
            @Html.LabelFor(model => model.Name, "Завдання", htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Name, new { htmlAttributes =  new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-12 d-flex flex-column align-items-center">
            @Html.LabelFor(model => model.Description, "Опис завдання", htmlAttributes: new { @class = "control-label" })
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-12 d-flex flex-column align-items-center">
            @Html.LabelFor(model => model.Text, "Текст", htmlAttributes: new { @class = "control-label" })
            @Html.TextAreaFor(model => model.Text, new { @class = "form-control", rows=4 } )
            @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-12 d-flex flex-column align-items-center">
            <div>
                @Html.LabelFor(model => model.Group, "Група завдання", htmlAttributes: new { @class = "control-label" })
                <button type="button" class="alert alert-info align-self-start" data-toggle="tooltip"
                        data-placement="top" title="Lection, Word, Test, Grammar, Other"></button>
            </div>
            @Html.EditorFor(model => model.Group, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Group, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-12 d-flex flex-column align-items-center" hidden>
            @Html.LabelFor(model => model.DocumentPath, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.DocumentPath, new { htmlAttributes = new { @class = "form-control" } } )
            @Html.ValidationMessageFor(model => model.DocumentPath, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-12">
            <div>
                @Html.LabelFor(model => model.Difficult, "Складність завдання", htmlAttributes: new { @class = "control-label" })
                <button type="button" class="alert alert-info align-self-start" data-toggle="tooltip"
                        data-placement="top" title="Beginner, Elementary, Intermediate, Upper-Intermediate, Advanced, Proficient"></button>
            </div>
            @Html.EditorFor(model => model.Difficult, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Difficult, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-12 d-flex flex-column align-items-center">
            <input id="date" name="date" type="date" min="2018-11-10" class="form-control"
                    data-toggle="tooltip" data-placement="bottom" title="Дата напоминання">
        </div>

        <div class="form-group col-12 d-flex flex-column align-items-center">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input answer" id="done" name="done">
                <label class="custom-control-label" for="done">Завдання виконано</label>
            </div>
        </div>

        <div class="custom-file col-12">
            <input type="file" name="result" class="custom-file-input btn btn-secondary" id="result" accept=".pdf, .doc, .docx">
            <label class="custom-file-label" for="customFile">Файл результату (pdf, doc, docx)</label>
        </div>

        <div class="custom-file col-12 mt-4">
            <input type="file" name="file" class="custom-file-input btn btn-secondary" id="file" accept=".pdf, .doc, .docx">
            <label class="custom-file-label" for="customFile">Файл завдання (pdf, doc, docx)</label>
        </div>
    </div>
}

            </div>
            <div class="modal-footer">
                <button id="EditCancel" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input id="EditSubmit" type="submit" value="Зберегти" class="btn btn-primary" />
            </div>
        </div>
    </div>
</div>

<iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe" hidden style="display: none"></iframe>
