@model EnglishLearning.Models.User
@{
    ViewBag.Title = "Профіль";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/regular.css" integrity="sha384-z3ccjLyn+akM2DtvRQCXJwvT5bGZsspS4uptQKNXNg778nyzvdMqiGcqHVGiAUyY" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css" integrity="sha384-u5J7JghGz0qUrmEsWzBQkfvc8nK3fUT7DCaQzNQ+q4oEXhGSx+P2OqjWsfIRB8QT" crossorigin="anonymous">
}

@helper DifficultDropDown(string name, string currentValue) {
     @Html.DropDownList(name, new SelectList(new[] { "Beginner", "Elementary", "Intermediate", "Upper-Intermediate", "Advanced", "Proficient" }, currentValue), new { @class = "form-control" })
}
<h2>Профіль</h2>

<a class="btn btn-purple text-white" href="@Url.Action("Index", "Manage", new { area = ""})">Керувати паролем</a>
<hr>
<div class="d-flex flex-row flex-wrap">
    <dl class="col-6">

        <dt>Рівень знань по граматиці:</dt>
        <dd>
            @Model.ObjectiveLevel
            <br>
            <a class="btn btn-purple" href="@Url.Action("TestUserGrammar", new { area = "", id = Model.UserId})">
            Підвищити <i class="far fa-caret-square-up fa-lg ml-2"></i>
            </a>
        </dd>
        <dt>Рівень знань по написання тексту зі слів:</dt>
        <dd>
        <dd>
            @Model.ObjLvlWriting
            <br>
            <a class="btn btn-purple" href="@Url.Action("TestUserWriting", new { area = "", id = Model.UserId})">
                Підвищити <i class="far fa-caret-square-up fa-lg ml-2"></i>
            </a>
        </dd>
        <dt>Рівень знань по сприйняттю на слух:</dt>
        <dd>
        <dd>
            @Model.ObjLvlListening
            <br>
            <a class="btn btn-purple" href="@Url.Action("TestUserListening", new { area = "", id = Model.UserId})">
                Підвищити <i class="far fa-caret-square-up fa-lg ml-2"></i>
            </a>
        </dd>
        <dt>Рівень знань по читанню</dt>
        <dd>
            @Model.ObjLvlReading
            <br>
            <a class="btn btn-purple" href="@Url.Action("TestUserReading", new { area = "", id = Model.UserId})">
                Підвищити <i class="far fa-caret-square-up fa-lg ml-2"></i>
            </a>
        </dd>
    </dl>

    @using (Html.BeginForm("EditUserLvl", "Profile", FormMethod.Post, new { @class="col-6"}))
    {
        @Html.HiddenFor(x => x.UserId)
        <dl>

            <dt>Рівень знань по граматиці:</dt>
            <dd>
                @DifficultDropDown("Level", Model == null ? "Beginner" : (Model.Level ?? "Beginner"))
            </dd>
            <dt>Рівень знань по написання тексту зі слів:</dt>
            <dd>
            <dd>
                @DifficultDropDown("LvlWriting", Model == null ? "Beginner" : (Model.LvlWriting ?? "Beginner"))
            </dd>
            <dt>Рівень знань по сприйняттю на слух:</dt>
            <dd>
            <dd>
                @DifficultDropDown("LvlListening", Model == null ? "Beginner" : (Model.LvlListening ?? "Beginner"))
            </dd>
            <dt>Рівень знань по читанню:</dt>
            <dd>
                @DifficultDropDown("LvlReading", Model == null ? "Beginner" : (Model.LvlReading ?? "Beginner"))
            </dd>
        </dl>
        <button type="submit" class="btn btn-purple">Зберегти</button>
    }
</div>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link bg-secondary text-light active" id="standard-tab" data-toggle="tab" href="#standard" role="tab" aria-controls="standard" aria-selected="true">Стандартні завдання</a>
    </li>
    <li class="nav-item">
        <a class="nav-link bg-secondary text-light" id="user-tab" data-toggle="tab" href="#user" role="tab" aria-controls="user" aria-selected="false">Власні завдання</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="standard" role="tabpanel" aria-labelledby="beginner-tab">
        <div class="card-deck justify-content-around">
            @Html.Action("ShowTasks", new { area = "", type = "Standard" })
        </div>
        </div>
    <div class="tab-pane fade" id="user" role="tabpanel" aria-labelledby="elementary-tab">
        <a id="create" class="btn text-info" data="@Url.Action("CreateTaskModal", "ManageELTasks", new { area = "Moderator"})"><i class="far fa-plus-square fa-2x"></i></a>
        <div class="card-deck justify-content-between" id="userTasks">
                @Html.Action("ShowTasks", new { area = "", type = "User" })
        </div>
    </div>
</div>

<div id="editBody"></div>
<div id="createBody"></div>
<div id="editUTBody"></div>
<div id="DetailedModal"></div>
@section scripts{
<script type="text/javascript" src="~/Scripts/Profile.js">
</script>
    @Scripts.Render("~/bundles/ajax")
}

