@model List<EnglishLearning.Models.Word>
@using EnglishLearning.ExtendClasses;
@{
    ViewBag.Title = "SynonymsExercise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link rel="stylesheet" href="@Url.Content("~/Content/ExerciseStyle.css")">
}

<h2>SynonymsExercise</h2>

<audio id="audio">
    <source src="@Url.Action("LoadAudio", new { value = @Model[ViewBag.Index].Word1 })" ) />
</audio>

<div class="d-flex flex-row flex-wrap justify-content-around align-items-center">
    <div class="d-flex flex-column col-8 col-md-3 mb-2">
        <h4 style="font-size:6vw;">@Model[ViewBag.Index].Word1</h4>
        <img id="audioImg" class="img-fluid rounded" src="@Url.Content("~/Content/Images/listen.png")"
             onclick="document.getElementById('audio').play()">
        <p style="font-size:3vw;">@Model[ViewBag.Index].Transcription</p>
        <p style="font-size:3vw;">@Model[ViewBag.Index].PartOfSpeech</p>
    </div>
    <div class="d-flex flex-column col-12 col-md-6 px-5">
        @for (int i = 0; i < 5; i++)
        {
            var val="";
            if (ViewBag.Index == i) {
                var temp = Model[i].Synonyms.Split('|');
                Random rand = new Random();
                val = temp[rand.Next(0, temp.Count())];
            }
            else {
                val = Model[i].Word1;
            }

            @Ajax.RawActionLink(val, "CheckResult", "Synonyms", new { area="", id = @Model[i].WordId, value = val },
            new AjaxOptions { OnSuccess="AjaxResult(data)" }, new { id="link_"+ @Model[i].WordId, @class= "btn btn-purple text-light mb-3 question" })//result
        }
        @using (Html.BeginForm("SynonymsExercise", "Synonyms", new { area = "" }, FormMethod.Post))
        {
            @:<input type="hidden" name="StartIndex" value="@(ViewBag.StartIndex + 1)">
            @:<input id="NextBtn" name="NextBtn" type="submit" class="btn btn-teal mt-5 text-light col-12" hidden value="Наступне">
        }
        @*<a id="NextBtn" name="NextBtn" class="btn btn-teal mt-5 text-light" href="@Url.Action("TranslateExercise", "Exercise", new { area="", StartIndex=(ViewBag.StartIndex+5) })" hidden>Наступне</a>*@
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        $("div a.question").on("click", function () {
            $("div a.question").addClass("disabled");
            $(this).addClass("active");
            $("#NextBtn").removeAttr("hidden")//.removeClass("disabled").off("click");//.prop("disabled", false).off("click");
        });

        //var ShowNext = function () {
        //    //$(this).addClass("active");
        //    $("#NextBtn").removeAttr("hidden");
        //}

        var AjaxResult = function (result) {
            var el = $(".active");
            el.removeClass("btn-purple");
            if (result.toLowerCase() == "true") {
                el.addClass("btn-success");
            }
            else {
                el.addClass("btn-danger");
            }
        }
    </script>
    @Scripts.Render("~/bundles/ajax")
}
