@model IEnumerable<EnglishLearning.Models.Group>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Difficult)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WordsCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Difficult)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WordsCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GroupId }) |
            @Html.ActionLink("Details", "Details", new { id=item.GroupId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GroupId }) |
            @Html.ActionLink("Words", "Index", new { controller="ManageWords", area="Moderator", GroupId=item.GroupId })
        </td>
    </tr>
}

</table>
