@model List<EnglishLearning.Models.TestHistory>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var grid = new WebGrid(canPage: true, rowsPerPage: 15, ajaxUpdateContainerId: "gridContent");
    grid.Bind(source: Model);
}
@section styles{
<style>
    .clickable {
        cursor: pointer;
    }
</style>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/regular.css" integrity="sha384-z3ccjLyn+akM2DtvRQCXJwvT5bGZsspS4uptQKNXNg778nyzvdMqiGcqHVGiAUyY" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css" integrity="sha384-u5J7JghGz0qUrmEsWzBQkfvc8nK3fUT7DCaQzNQ+q4oEXhGSx+P2OqjWsfIRB8QT" crossorigin="anonymous">
}

<h2 class="mt-3">Статистика</h2>


@*<script type="text/javascript">
        google.charts.load('current', {
            //callback: function () {
            //    drawChart();
            //    $(window).resize(drawChart);
            //},
            'packages': ['bar'] });
          google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var jsonObject = {
                "xName": "Дата",
                "colName": "Кількість тестів"
            }

            var jsonData = $.ajax({
                url: '@Url.Action("ChartByCount", "Statistics", new { area=""})',
                data: jsonObject,
                dataType: "json",
                async: false
            }).responseText;

            var data = new google.visualization.DataTable(jsonData);//arrayToDataTable(gData);

            //chartArea: {
            //    width: '50%'
            //},
            //width: '50%',
            var options = {
                title: 'Кількість пройдених тестів',
            };

            var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

            chart.draw(data, google.charts.Bar.convertOptions(options));
          }
    </script>*@

@*<div id="columnchart_material" style="width:70%; height:70%"></div>*@
<a id="ChartCountLink" href="@Url.Action("ChartByCount", "Statistics", new { area=""})" hidden></a>
<a id="ChartTestLink" href="@Url.Action("ChartByTestSuccess", "Statistics", new { area=""})" hidden></a>

<div class="d-flex flex-row mb-3 flex-wrap">
    <input id="fromDate" name="fromDate" type="date" min="2018-10-01" class="form-control col-12 col-sm-4 col-lg-3 m-2"
           data-toggle="tooltip" data-placement="bottom" title="Початкова дата">

    <input id="toDate" name="toDate" type="date" min="2018-10-01" class="form-control col-12 col-sm-4 col-lg-3 m-2"
           data-toggle="tooltip" data-placement="bottom" title="Кінцева дата">

    <input type="submit" class="btn btn-outline-purple col-12 col-sm-2 m-2" value="Знайти" onclick="drawStuff()">
</div>

<div id="columnchart2_material" style="width:100%; height:80%"></div>

<div class="mt-2 text-monospace font-weight-bold"></div>
<div id="histogramchart_material" style="width:70%; height:70%"></div>

<h3 class="mt-5">Виконані Завдання:</h3>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link bg-secondary text-light active" id="standard-tab" data-toggle="tab" href="#standard" role="tab" aria-controls="standard" aria-selected="true">Стандартні завдання</a>
    </li>
    <li class="nav-item">
        <a class="nav-link bg-secondary text-light" id="user-tab" data-toggle="tab" href="#user" role="tab" aria-controls="user" aria-selected="false">Власні завдання</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="standard" role="tabpanel" aria-labelledby="beginner-tab">
        <div class="card-deck justify-content-around">
            @Html.Action("ShowTasks", "Profile", new { area = "", type = "Standard", done = true })
        </div>
    </div>
    <div class="tab-pane fade" id="user" role="tabpanel" aria-labelledby="elementary-tab">
        <div class="card-deck justify-content-between" id="userTasks">
            @Html.Action("ShowTasks", "Profile", new { area = "", type = "User", done = true })
        </div>
    </div>
</div>

<h3 class="mt-5">Історія тестів:</h3>
<div id="gridContent">
    @grid.GetHtml(
    tableStyle: "table table-hover table-bordered text-center", headerStyle: "bg-light", caption: "Історія тестів",
    mode: WebGridPagerModes.All, numericLinksCount: 5,
    columns: grid.Columns(
        grid.Column(header: "Дата проходження", format:@<div id="l_@item.Value.TestHistoryId" data="@Url.Action("ShowResult", "Test", new { area="", id = item.Value.TestHistoryId})">@item.Value.PassDate</div>),
        grid.Column("Test.Name", header: "Назва тесту", format: @<div>@item.Value.Test.Name</div>),
        grid.Column("SuccessPercent", header: "Відсоток правильних відповідей", format:@<div>@item.Value.SuccessPercent</div>)),
        previousText: "Попередня", nextText: "Наступна", firstText: "Перша", lastText: "Остання",
        footerStyle: "tfoot", htmlAttributes: new { id = "grid" })
</div>

<div id="DetailedModal"></div>

@section Scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/GoogleCharts.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ToolTip.js")"></script>
    <script type="text/javascript" src="~/Scripts/Statistics.js">
    </script>
}