
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@* style="background: linear-gradient(to bottom,#B6D2EE, #E8BFFF 100%);" *@
@* dark style body class="text-light" style="background: radial-gradient(#6c757d, #343a40);"
    first and last card = bg-secondary text-light*@
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="col-12 alert alert-warning alert-dismissible show" role="alert">
        <strong>Помилка!</strong> @ViewBag.ErrorMessage
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div>
    <div class="px-4 px-sm-0">
        @*@if (!string.IsNullOrEmpty(@ViewBag.SuccessMessage))
        {
            <div class="alert alert-success alert-dismissible show col-12" role="alert">
                @Html.Raw(@ViewBag.SuccessMessage)
                <br>
                <div class="progress col-12 my-2 p-0">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-teal" role="progressbar" style="width:@ViewBag.SuccessPercent%"></div>
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }*@
        <h2>Вправи словнику</h2>
        <div class="card col-12 text-center bg-secondary text-light">
            <img class="card-img-top align-self-center" src="@Url.Content("~/Content/Images/translator.png")" alt="translate exercise image" style="max-height:250px;">
            <div class="card-body">
                <h5 class="card-title">Вправа перекладу.</h5>
                <p class="card-text">Надається слово на іноземній мові та п’ять варіантів слова на рідній мові, один з варіантів є перекладеним іноземнимм словом, необхідно знайти його.</p>
                @*@Ajax.RawActionLink("<div class='btn btn - purple text - light' href='"+ @Url.Action("TranslateExercise", "Exercise", new { area = "" }) + "'>Переклад</div>",
                "TranslateCount", "Exercise", new { area=""},
                new AjaxOptions { OnSuccess = "MessageShow('переклад')" }, null)*@
                <a class="btn btn-purple text-light" href="@Url.Action("TranslateExercise", "Translate", new { area = ""})">Переклад</a>
            </div>
        </div>

        <div class="d-flex flex-row justify-content-around flex-wrap">
            <div class="card col-md-3 my-3 col-sm-5 col-12 text-center bg-dark text-light">
                <img class="card-img-top align-self-center" src="@Url.Content("~/Content/Images/equivalent.png")" alt="equivalent exercise image" style="max-width:250px;">
                <div class="card-body">
                    <h5 class="card-title">Вправа еквівалент.</h5>
                    <p class="card-text">Є слово на рідній мові та варіанти його перекладу на іноземну, знайдіть правильний.</p>
                    <a class="btn btn-purple text-light" href="@Url.Action("EquivalentExercise", "Equivalent", new { area = ""})">Еквівалент</a>
                </div>
            </div>

            <div class="card col-md-3 my-3 col-sm-5 col-12 text-center bg-dark text-light">
                <img class="card-img-top align-self-center" src="@Url.Content("~/Content/Images/listening.png")" alt="listening exercise image" style="max-width:250px;">
                <div class="card-body">
                    <h5 class="card-title">Вправа аудіювання.</h5>
                    <p class="card-text">Надається запис слова, після прослуховування якого необхідно ввести сказане.</p>
                    <a class="btn btn-purple text-light" href="@Url.Action("ListeningExercise", "Listening", new { area = ""})">Аудіювання</a>
                </div>
            </div>

            <div class="card col-md-3 my-3 col-sm-5 col-12 text-center bg-dark text-light">
                <img class="card-img-top align-self-center" src="@Url.Content("~/Content/Images/constructor.png")" alt="constructor exercise image" style="max-width:250px;">
                <div class="card-body">
                    <h5 class="card-title">Вправа конструктор.</h5>
                    <p class="card-text">Є розбите на шматочки слово, вправа полягає в збиранні шматочків до купи.</p>
                    <a class="btn btn-purple text-light" href="@Url.Action("ConstructorExercise", "Constructor", new { area = ""})">Конструктор</a>
                </div>
            </div>
        </div>

        <div class="card col-12 text-center bg-secondary text-light">
            <img class="card-img-top align-self-center" src="@Url.Content("~/Content/Images/similar.png")" alt="similar exercise image" style="max-height:250px;">
            <div class="card-body">
                <h5 class="card-title">Вправа синонімів</h5>
                <p class="card-text">Є головне слово на іноземній мові, а також п’ять додаткових слів, серед цих п’яти необхідно знайти синонім головного слова</p>
                <a class="btn btn-purple text-light" href="@Url.Action("SynonymsExercise", "Synonyms", new { area = ""})">Синоніми</a>
            </div>
        </div>

        <hr class="col-12">
        <h2> Вправи з граматики</h2>
        <div class="d-flex flex-row justify-content-around flex-wrap">
            <div class="card my-3 col-sm-5 col-12 text-center bg-dark text-light">
                <img class="card-img-top align-self-center" src="@Url.Content("~/Content/Images/notes.png")" alt="grammar writing exercise image" style="max-width:250px;">
                <div class="card-body">
                    <h5 class="card-title">Вправа написання речення.</h5>
                    <p class="card-text">Тренування сприйняття на слух та написання почутого. Є запис, після прослуховування якого необхідно ввести сказане.</p>
                    <a class="btn btn-purple text-light" href="@Url.Action("Listening", "Grammar", new { area = ""})">Написання</a>
                </div>
            </div>

            <div class="card my-3 col-sm-5 col-12 text-center bg-dark text-light">
                <img class="card-img-top align-self-center" src="@Url.Content("~/Content/Images/touchscreen.png")" alt="grammar constructor exercise image" style="max-width:250px;">
                <div class="card-body">
                    <h5 class="card-title">Вправа конструктор речень</h5>
                    <p class="card-text">Тренування складання речень. Є розбите на слова речення, вправа полягає в збиранні речення та відсіюванні зайвих слів.</p>
                    <a class="btn btn-purple text-light" href="@Url.Action("Constructor", "Grammar", new { area = ""})">Конструктор</a>
                </div>
            </div>
        </div>

        <hr class="col-12">
        <h2> Вправа з текстом</h2>
        <div class="card col-12 text-center bg-secondary text-light">
            <img class="card-img-top align-self-center" src="@Url.Content("~/Content/Images/Text.png")" alt="similar exercise image" style="max-height:250px;">
            <div class="card-body">
                <h5 class="card-title">Вправа розташування слів в тексті</h5>
                <p class="card-text">Є текст з пробілами, а також декілька слів, необхідно розставити слова відповідно до тексту.</p>
                <a class="btn btn-purple text-light" href="@Url.Action("Index", "TextTask", new { area = ""})">Текст</a>
            </div>
        </div>

    </div>
    </div>

