@model EnglishLearning.Models.RegisterViewModel
@{
    ViewBag.Title = "Реєстрація";
}

<style>
    body {
        background-attachment: fixed;
        background-size: cover;
        background-image: url(/Content/Images/Background.jpg);
    }

    #LoginCard {
        padding: 1rem !important;
        border-radius: 1rem !important;
        background-color: rgba(248,249,250,0.7);
    }

    footer {
        visibility: collapse !important;
    }
</style>

<h2 class="text-white mt-5">@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-8 col-lg-6">
            <div id="LoginCard">
                <h4>Створіть новий обліковий запис.</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-dark" value="Реєстрація" />
                    </div>
                </div>
            </div>
            </div>
        </div>
}

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
