@model EnglishLearning.Models.ELTask

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

    @Html.BeginForm("Create", "ManageELTasks", FormMethod.Post, new { enctype = "multipart/form-data" });

    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ELTask</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="d-flex flex-column align-items-center">
            @Html.Partial("ModifyTask", Model)

        <div class="form-group col-12 col-md-4 mt-2">
            <div>
                <input type="submit" value="Створити" class="btn btn-default col-12" />
            </div>
        </div>
            </div>
    </div>
@{Html.EndForm();}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script type="text/javascript">
    $('.custom-file-input').on('change',function(){
        var fileName = $(this).val();
        $(this).next('.form-control-file').addClass("selected").html(fileName);
    })
</script>