@model EnglishLearning.Models.ELTask

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@if (User.IsInRole("moderator"))
{
@Html.BeginForm("Edit", "ManageELTasks", FormMethod.Post, new { enctype = "multipart/form-data" })
}
else {
    @Html.BeginForm("EditTask", "ManageELTasks", FormMethod.Post, new { enctype = "multipart/form-data" })
}
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ELTask</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.TaskId)

        <div class="d-flex flex-column align-items-center">
        @Html.Partial("ModifyTask", Model)

        <div class="form-group col-12 col-md-4 mt-2">
            <div>
                <input type="submit" value="Зберегти" class="btn btn-default" />
            </div>
        </div>
        </div>
    </div>
@{Html.EndForm();}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
