<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – застосування ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("styles", required: false)
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        @Html.ActionLink("EnglishLearning", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Dictionary", new { area = "" })">Словник</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Exercise", new { area = "" })">Вправи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("ShowByGroup", "Lection", new { area = "" })">Лекції</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("About", "Home", new { area = "" })">Домашня сторінка</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Contact", "Home", new { area = "" })">Контакти</a>
                </li>
                @if (User.IsInRole("admin"))
                {
                    @Html.Partial("_AdminPartial")
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Icons made by <a href="http://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a>, <a href="http://www.freepik.com" title="Freepik">Freepik</a>, <a href="http://www.flaticon.com/authors/chanut-is-industries" title="Chanut is Industries">Chanut is Industries</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a></p>
            <p>&copy; @DateTime.Now.Year – застосування ASP.NET</p>
        </footer>
    </div>

    
    @Scripts.Render("~/bundles/popperBootstrap")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
