
@{
    ViewBag.Title = "Constructor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link rel="stylesheet" href="@Url.Content("~/Content/ExerciseStyle.css")">
}

<h2>Constructor</h2>
<div class="d-flex flex-column flex-wrap justify-content-around align-items-center">
    <div id="sentence" data="@ViewBag.SentenceIndex" class="d-flex flex-column col-8 mb-2">
        <h4>@ViewBag.Translate</h4>
    </div>
    @*@if (ViewBag.Answer != null)
    {
        <div class="d-flex flex-column col-8 mb-2">
            <h4>@ViewBag.Answer</h4>
        </div>
    }*@

    <div class="d-flex flex-row col-12 flex-wrap border border-secondary m-1" style="min-height:4vw" id="value" data="@Url.Action("ConstructorBlock", new { area=""})"></div> @*ondrop="drop(event, this)" ondragover="allowDrop(event)"*@ 
    <div class="d-flex flex-row col-12 flex-wrap border border-secondary m-1" style="min-height:4vw" id="question" data="@Url.Action("ConstructorBlock", new { area=""})">
        @*@for (int i = 0; i < Model.Count; i++)
        {
            <div class="btn btn-purple m-1 letter" id="block_@i" draggable="true" ondragstart="drag(event)">@Model[i]</div>
        }*@
        @Html.Action("ConstructorBlock", new { area="", sentenceIndex = ViewBag.SentenceIndex, wordIndex = 0})
    </div>
    <button class="btn btn-purple col-8 col-md-6 col-lg-4 questionBtn" type="button">Далі</button>
    <div class="alert alert-warning col-8 col-md-6 col-lg-4 text-center py-1 m-4" id="answer" role="alert" hidden></div>

    @using (Html.BeginForm("Constructor", "Grammar", new { area = "", startIndex = 1 }, FormMethod.Post, new { @class = "mt-4 col-8 col-md-6 col-lg-4 px-0" }))
    {
        @*@:<input type="hidden" name="result" id="result" value="">*@
        @*@:<input type="hidden" name="wordIndex" value="@(ViewBag.Index + 1)">*@
        @:<input id="NextBtn" name="NextBtn" type="submit" class="btn btn-teal text-light col-12" value="Наступне" hidden>
    }

</div>

@section Scripts{
    <script type="text/javascript">
        //$("#NextBtn").on("click", function () {
        //    var text = $("#value").text();
        //    text = text.trimRight();
        //    document.getElementById("result").value = text;
        //    //$("#result").val(text);
        //});
        $(".questionBtn").on("click", function () {
            $(".questionBtn").prop("hidden", true);
            //$(".letter").off("click").addClass("disabled").addClass("active").prop("draggable", false);
            $("#NextBtn").removeAttr("hidden");

            var text = $("#value").text();
            text = text.trimRight();
            $.ajax({
                    type: "GET",
                    url: "CheckResult",
                    data: {value: text },
                    success: function (data) {
                        AjaxResult(data);
                    }
            });
        });

        var AjaxResult = function (result) {
            //var el = $(".active");
            //el.removeClass("btn-purple");
            var el = $("#answer");
            el.removeAttr("hidden");
            if (result.toLowerCase() == "true") {
                el.removeClass("alert-warning").addClass("alert-success");
                el.text($("#value").text());
            }
            else {
                //el.addClass("btn-danger");
                el.removeClass("alert-warning").addClass("alert-danger");
                $.ajax({
                    type: "GET",
                    url: "GetAnswer",
                    success: function (data) {
                        el.text(String(data))
                    }
                });
            }
        }

        $("#value").on("click", ".letter:last-child", function () {
            WordClick($(this));
        });

        $("#question").on("click", ".letter", function () {
            WordClick($(this));
        });

        var WordClick = function (el) {
            var id = el.parent().attr("id");
            var wordIndex = el.parent().attr('data-id');
            var link = el.parent().attr('data');
            //var text = $(this).text();
            if (id === "value") {
                $("#question").append(el);
                wordIndex = parseInt(wordIndex) - 1;
                //var newText = document.getElementById("result").value;
                //newText = newText.replace(new RegExp(text + '$'), '');
                //document.getElementById("result").value = newText;
            }
            else {
                $("#value").append(el);
                wordIndex = 1 + parseInt(wordIndex);
                //document.getElementById("result").value = text;
            }
            $("#value").off("click", ".letter:not(:last-child)");
            //$("#value").on("click", ".letter:last-child", function () {
            //    WordClick($(this));
            //});
            $("#value .letter").addClass("disabled").prop("draggable", false);
            $("#value .letter:last-child").removeClass("disabled").prop("draggable", true);
            var sentenceIndex = $("#sentence").attr('data');
            $.ajax({
                type: "GET",
                url: link,
                data: { sentenceIndex: sentenceIndex, wordIndex: wordIndex },
                success: function (partialViewResult) {
                    $("#question").html(partialViewResult);
                    //$(".letter").on("click", function () {
                    //    WordClick($(this));
                    //});
                    //$(".next_link").on("click", function () { GetNewAnswers($(this)); });
                    //$("#EndTest").on("click", function () { EndTest(); });
                }
            });
        }

        //function allowDrop(ev) {
        //    ev.preventDefault();
        //}

        //function drag(ev) {
        //    ev.dataTransfer.setData("text", ev.target.id);
        //}

        //function drop(ev, el) {
        //    ev.preventDefault();
        //    var data = ev.dataTransfer.getData("text");
        //    WordClick($(String(data)));
        //    //var element = document.getElementById(data);
        //    // WordClick(element);
        //    //el.appendChild(document.getElementById(data));
        //}
    </script>
    @Scripts.Render("~/bundles/ajax")
}

