@model EnglishLearning.Models.Grammar
@{
    /**/

    ViewBag.Title = "Listening";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link rel="stylesheet" href="@Url.Content("~/Content/ExerciseStyle.css")">
}

<h2>Listening</h2>

<audio id="audio">
    <source src="@Url.Action("LoadAudio", new { area="" })" />
</audio>

<div class="d-flex flex-column flex-wrap justify-content-around align-items-center">
    <img class="img-fluid rounded col-6 col-md-4 col-lg-3 my-2 img-active" src="@Url.Content("~\\Content\\Images\\listen.png")" onclick="document.getElementById('audio').play()" />

    <label style="word-break:break-word;" class="col-8 col-md-6 col-lg-6 mt-2 h5" for="value" id="valueText"></label>
    <div class="input-group col-8 col-md-6 col-lg-6 my-4 px-0">
        <input class="question form-control col-10" id="value" name="value" type="text">
        <div class="input-group-append col-2 px-0">
            <button class="btn btn-outline-secondary col-12 questionBtn" type="button">Далі</button>
        </div>
    </div>
    <div class="alert alert-warning col-8 col-md-6 col-lg-6 text-center py-1 mb-4" id="answer" role="alert" hidden></div>
    <a id="NextBtn" name="NextBtn" class="btn btn-teal text-light col-6" href="@Url.Action("Listening", new { area="", startIndex = ViewBag.Index})" hidden>Наступне</a>

</div>

@section scripts{
    <script type="text/javascript" src="~/Scripts/ListeningGrammarExercise.js">
    </script>
    @Scripts.Render("~/bundles/ajax")
}
