@model List<EnglishLearning.Models.Word>
@using EnglishLearning.ExtendClasses;
@{
    ViewBag.Title = "Вправа конструктор";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link rel="stylesheet" href="@Url.Content("~/Content/ExerciseStyle.css")">
}

    <h2>Вправа конструктор</h2>

<div class="d-flex flex-column flex-wrap justify-content-around align-items-center">
    @{
        var word = Model[ViewBag.Index];
    }
    @*<div class="d-flex flex-column col-8 col-md-3 mb-2">*@
        <h4 style="font-size:6vw; word-break:break-word;">@word.Translate</h4>
    @*</div>*@
    <div class="d-flex flex-row col-12 flex-wrap m-1" style="min-height:4vw" id="value" ondrop="drop(event, this)" ondragover="allowDrop(event)" data="@Model[ViewBag.Index].WordId"></div>
    <div class="d-flex flex-row col-12 flex-wrap m-1" style="min-height:4vw" id="question" ondrop="drop(event, this)" ondragover="allowDrop(event)">
        @*@{
                char[] wordArray = word.Word1.ToCharArray();
                {
                    Random rand = new Random();
                    for (int i = 0; i < wordArray.Length; i++)
                    {
                        int j = rand.Next(i, wordArray.Length);
                        char temp = wordArray[i];
                        wordArray[i] = wordArray[j];
                        wordArray[j] = temp;
                    }
                }
            }*@
        @for (int i = 0; i < ViewBag.wordArray.Length; i++)
        {
            <div class="btn btn-purple m-1 letter" id="block_@i" draggable="true" ondragstart="drag(event)">@ViewBag.wordArray[i]</div>
        }
    </div>
    <button class="btn btn-purple col-8 col-md-6 col-lg-4 questionBtn" type="button">Далі</button>
    <div class="alert alert-warning col-8 col-md-6 col-lg-4 text-center py-1 m-4" id="answer" role="alert" hidden></div>
    @using (Html.BeginForm("ConstructorExercise", "Constructor", new { area = "" }, FormMethod.Post, new { @class="mt-4 col-8 col-md-6 col-lg-4 px-0"}))
    {
        @:<input type="hidden" name="StartIndex" value="@(ViewBag.StartIndex + 1)">
        @:<input id="NextBtn" name="NextBtn" type="submit" class="btn btn-teal text-light col-12" hidden value="Наступне">
    }
</div>
@section Scripts{
    <script type="text/javascript" src="~/Scripts/ConstructorExercise.js">
    </script>
    @Scripts.Render("~/bundles/ajax")
}
