@model List<EnglishLearning.Models.Lection>
@{
    ViewBag.Title = "ShowLection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link rel="stylesheet" href="@Url.Content("~/Content/LectionShow.css")">
}

<h2 class="mt-3">@Model[ViewBag.Index].Name</h2>

@{
    var path = HttpContext.Current.Server.MapPath(Model[ViewBag.Index].LectionPath);//"~/App_Data/Lections/Way.pdf"
}
<div class="d-flex flex-row flex-wrap main-content">
    <div class="col-12 col-lg-2 align-self-start">
        <p>Схожі лекції по темі:</p>
        @foreach (var el in Model)
        {
            <a class="mb-1 mr-1 col-12 list-group-item list-group-item-action @(el.LectionId == Model[ViewBag.Index].LectionId ? "list-group-item-purple" : "list-group-item-secondary")" data-toggle="tooltip" data-placement="bottom" title="@el.Name" href="@Url.Action("ShowLection", "Lection", new{ area="", id = el.LectionId})">@el.Name</a>
        }
    </div>
    <div class="col-12 col-lg-10 pr-2 align-self-stretch document-content">
        <object class="document" data="@Url.Action("GetPDF", new { area="", filePath = path})" type="application/pdf" width="300" height="200">
            @*<embed src="@path" type="application/pdf" />*@
            Не вдається відобразити файл.
            <a href="@Url.Action("DownloadFile", new { area="", filePath = path, fileName = @Model[ViewBag.Index].Name })" target="_blank">Завантажити лекцію</a>
        </object>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/ToolTip.js")"></script>
}